# GOOGLE_SCRIPT_URL: The URL of your deployed Google Apps Script Web App.
VITE_GOOGLE_SCRIPT_URL="https://script.google.com/macros/s/AKfycby3kzMLkOCiO8sAMJgyws-BEpeqhdiudNx0kSJ7ai1RaxmR2iEaL6fi1i1f2yTcMvYf/exec"

# SMTP Configuration
SMTP_USER="femizysilver@gmail.com"
SMTP_PASS="zcng lkau mcty kvtm"
SMTP_HOST="smtp.gmail.com"
SMTP_PORT=465
